# Configurações de Conexão com o Banco de Dados PostgreSQL
# Copie este arquivo, renomeie para ".env" e configure as suas credenciais locais.

DB_URL=jdbc:postgresql://192.168.1.244:5432/base_estudos?currentSchema=bd_rsc_poo
DB_USERNAME=postgres
DB_PASSWORD=postgres
